
<header>
    <ul class="nav headerbackground">
        <li class="nav-item">
            <a class="nav-link">
                <span style="cursor: pointer ; text-decoration: none; outline-color: transparent"
                    routerLink='/dashboard'>
                    <span style="font-size: 40px;color: white;">Style</span>
                    <span style="color:red;font-size: 40px"><b>LOOK</b></span>
                </span>
            </a>
        </li>
    </ul>
</header>
<br />
<div class='container'>
    <div class='row'>
        <div class='col-6' style="border-right:2px solid black; padding-top: 60px;"><br>
            <button class="white-color" id="socialBtn1" color="warn" (click)="social()">
                <span id="socialLogin">
                    Login with
                </span>
                <i id='icon' class="fab fa-google"></i>
            </button><br>
        </div>
        <button (click)="login()" class="btn btn-secondary">Login</button>
        <div class='col-6 pd-20'>
            <div class="card">
                <div class="card-body">
                    <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
                        <h3 style="margin-left:auto;margin-right:auto;display: block;">Login to StyleLOOK</h3>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
                            <small class="form-text text-muted"
                                *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
                                Email address not well formed.!
                            </small>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="pass">
                            <small class="form-text text-muted"
                                *ngIf="loginForm.controls.pass.touched && loginForm.controls.pass.errors?.pattern">
                                Password should minimum eight characters, at least one letter and one number
                            </small>
                        </div>
                        <button type="submit" class="btn btn-secondary">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12" style="text-align:center">
            <br>
            <a mat-button routerLink="/register">Register Now</a>&nbsp;&nbsp;|&nbsp;<a mat-button
                routerLink='/forgetpassword'>Forgotten?</a>
        </div>
    </div>
</div>
<!-- [disabled]="!loginForm.valid" -->