<div *ngIf="loaderVisibility" id="loader">
  <div style="margin-right: 2px;" class="spinner-grow text-success"></div>
  <div style="margin-right: 2px;" class="spinner-grow text-success"></div>
  <div class="spinner-grow text-success"></div>
</div>

<div class="container" id="main" [ngClass]="{'disable-background': loaderVisibility }">
  
  <div *ngIf="notificationAlert" class="alert fade show" role="alert" style="width: 30%;z-index: 9999;position: absolute;top: 2%;right:1%;color: white; background-color: #198754;font-size: 15px!important;font-weight: bold!important;">
    <p>
      <span style="font-size: 20px!important;font-weight: bold!important;">Status</span>
      <span style="cursor: pointer; float: right;" class="close" aria-label="close" (click)="hideNotification()">&times;</span>
    </p>
    <hr>
    {{msg}}
  </div>

  <div>
    <h2>Order</h2>
  </div>
  <br>

</div>
