<div *ngIf="loaderVisibility" id="loader">
  <div style="margin-right: 2px;" class="spinner-grow text-success"></div>
  <div style="margin-right: 2px;" class="spinner-grow text-success"></div>
  <div class="spinner-grow text-success"></div>
</div>

<div class="container" id="main" [ngClass]="{'disable-background': loaderVisibility }">

  <div class="modal fade" tabindex="-1" role="dialog" id="deleteShop" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Shop</h5>
          <span style="cursor: pointer; float: right; font-weight: bold;" class="close" data-dismiss="modal"
            aria-label="close">&times;</span>
        </div>
        <div class="modal-body">
          <p>Are you sure you wanted to delete this shop ?</p>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton1>Close</button>
          <button type="button" class="btn btn-success" (click)="onclickDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="restoreShop" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Restore Shop</h5>
          <span style="cursor: pointer; float: right; font-weight: bold;" class="close" data-dismiss="modal"
            aria-label="close">&times;</span>
        </div>
        <div class="modal-body">
          <p>Are you sure you wanted to restore this shop ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton2>Close</button>
          <button type="button" class="btn btn-success" (click)="onClickRestore()">Restore</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="addShop" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 80%;max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Shop</h5>
          <span style="cursor: pointer; float: right; font-weight: bold;" class="close" data-dismiss="modal"
            aria-label="close">&times;</span>
        </div>
        <form [formGroup]="addShopForm" (ngSubmit)="onAddShopFormSubmit()">
          <div class="modal-body">

            <div style="display: flex;justify-content: flex-start;flex-wrap: wrap;">
              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Shop Name">Shop Name</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopName" placeholder="Enter Shop Name" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.shopName.errors }">
                <p *ngIf="addShopFormSubmitted && f2.shopName.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
            
              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Owner Name">Owner Name</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopOwnerName" placeholder="Enter Owner Name" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.shopOwnerName.errors }">
                <p *ngIf="addShopFormSubmitted && f2.shopOwnerName.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
            
              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Email">Email</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="username" placeholder="Enter Email" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.username.errors }">
                <p *ngIf="addShopFormSubmitted && f2.username.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              
            
              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Contact Number">Contact Number</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopOwnerContactNumber" placeholder="Enter Contact Number" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.shopOwnerContactNumber.errors }">
                <p *ngIf="addShopFormSubmitted && f2.shopOwnerContactNumber.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>

              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Address">Address</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopAddress" placeholder="Enter Address" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.shopAddress.errors }">
                <p *ngIf="addShopFormSubmitted && f2.shopAddress.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>              
              </div>

              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Landmark">Landmark</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopLandmark" placeholder="Enter Landmark" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.shopLandmark.errors }">
                <p *ngIf="addShopFormSubmitted && f2.shopLandmark.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>

              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Latitude">Latitude</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="latitude" placeholder="Enter Latitude" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.latitude.errors }">
                <p *ngIf="addShopFormSubmitted && f2.latitude.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Longitude">Longitude</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="longitude" placeholder="Enter Longitude" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.longitude.errors }">
                <p *ngIf="addShopFormSubmitted && f2.longitude.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>

              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Delivery Charge">Delivery Charge</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="deliveryCharge" placeholder="Enter Delivery Charge" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.deliveryCharge.errors }">
                <p *ngIf="addShopFormSubmitted && f2.deliveryCharge.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Rating">Rating</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopRating" placeholder="Enter Rating" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.shopRating.errors }">
                <p *ngIf="addShopFormSubmitted && f2.shopRating.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Account Number">Account Number</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="accountNumber" placeholder="Enter Account Number" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.accountNumber.errors }">
                <p *ngIf="addShopFormSubmitted && f2.accountNumber.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="IFSC">IFSC</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="IFSC" placeholder="Enter IFSC" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.IFSC.errors }">
                <p *ngIf="addShopFormSubmitted && f2.IFSC.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Insta Link">Insta Link</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="instaLink" placeholder="Enter Insta Link" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.instaLink.errors }">
                <p *ngIf="addShopFormSubmitted && f2.instaLink.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Facebook Link">Facebook Link</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="facebookLink" placeholder="Enter Facebook Link" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.facebookLink.errors }">
                <p *ngIf="addShopFormSubmitted && f2.facebookLink.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Shop Logo">Shop Logo</label>
                <div class="input-group" style="width: 117%;">
                  <div class="custom-file" style="width: 100%;">
                    <input type="file" class="custom-file-input form-control" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" formControlName="shopLogo" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f2.shopLogo.errors }" (change)="setFile($event.target.files)" >
                  </div>
                </div>                
                <p *ngIf="addShopFormSubmitted && f2.shopLogo.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>              

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton3>Close</button>
            <button type="submit" class="btn btn-success">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="updateShop" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 80%;max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Shop Details</h5>
          <span style="cursor: pointer; float: right; font-weight: bold;" class="close" data-dismiss="modal"
            aria-label="close">&times;</span>
        </div>
        <form [formGroup]="updateShopForm" (ngSubmit)="onUpdateShopFormSubmit()">
          <div class="modal-body">

            <div style="display: flex;justify-content: flex-start;flex-wrap: wrap;">
              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Shop Name">Shop Name</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopName" placeholder="Enter Shop Name" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.shopName.errors }">
                <p *ngIf="addShopFormSubmitted && f3.shopName.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
            
              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Owner Name">Owner Name</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopOwnerName" placeholder="Enter Owner Name" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.shopOwnerName.errors }">
                <p *ngIf="addShopFormSubmitted && f3.shopOwnerName.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
            
              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Email">Email</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopOwnerEmail" placeholder="Enter Email" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.shopOwnerEmail.errors }">
                <p *ngIf="addShopFormSubmitted && f3.shopOwnerEmail.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              
            
              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Contact Number">Contact Number</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopOwnerContactNumber" placeholder="Enter Contact Number" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.shopOwnerContactNumber.errors }">
                <p *ngIf="addShopFormSubmitted && f3.shopOwnerContactNumber.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>

              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Address">Address</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopAddress" placeholder="Enter Address" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.shopAddress.errors }">
                <p *ngIf="addShopFormSubmitted && f3.shopAddress.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>              
              </div>

              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Landmark">Landmark</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopLandmark" placeholder="Enter Landmark" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.shopLandmark.errors }">
                <p *ngIf="addShopFormSubmitted && f3.shopLandmark.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>

              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Latitude">Latitude</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="latitude" placeholder="Enter Latitude" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.latitude.errors }">
                <p *ngIf="addShopFormSubmitted && f3.latitude.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Longitude">Longitude</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="longitude" placeholder="Enter Longitude" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.longitude.errors }">
                <p *ngIf="addShopFormSubmitted && f3.longitude.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>

              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Delivery Charge">Delivery Charge</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="deliveryCharge" placeholder="Enter Delivery Charge" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.deliveryCharge.errors }">
                <p *ngIf="addShopFormSubmitted && f3.deliveryCharge.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Rating">Rating</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="shopRating" placeholder="Enter Rating" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.shopRating.errors }">
                <p *ngIf="addShopFormSubmitted && f3.shopRating.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Account Number">Account Number</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="accountNumber" placeholder="Enter Account Number" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.accountNumber.errors }">
                <p *ngIf="addShopFormSubmitted && f3.accountNumber.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="IFSC">IFSC</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="IFSC" placeholder="Enter IFSC" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.IFSC.errors }">
                <p *ngIf="addShopFormSubmitted && f3.IFSC.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Insta Link">Insta Link</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="instaLink" placeholder="Enter Insta Link" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.instaLink.errors }">
                <p *ngIf="addShopFormSubmitted && f3.instaLink.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <div class="form-group" style="margin: 0 0 3% 0;">
                <label for="Facebook Link">Facebook Link</label>
                <input style="width: 185%;" type="text" class="form-control" formControlName="facebookLink" placeholder="Enter Facebook Link" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.facebookLink.errors }">
                <p *ngIf="addShopFormSubmitted && f3.facebookLink.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div>
              

              <!-- <div class="form-group" style="margin: 0 30% 3% 0;">
                <label for="Shop Logo">Shop Logo</label>
                <div class="input-group" style="width: 117%;">
                  <div class="custom-file" style="width: 100%;">
                    <input type="file" class="custom-file-input form-control" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" formControlName="shopLogo" [ngClass]="{ 'is-invalid': addShopFormSubmitted && f3.shopLogo.errors }" (change)="setFile($event.target.files)" >
                  </div>
                </div>                
                <p *ngIf="addShopFormSubmitted && f3.shopLogo.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
              </div> -->

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton4>Close</button>
            <!-- <button type="submit" class="btn btn-success">Update</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="notificationAlert" class="alert fade show" role="alert" style="width: 30%;z-index: 9999;position: absolute;top: 2%;right:1%;color: white; background-color: #198754;font-size: 15px!important;font-weight: bold!important;">
    <p>
      <span style="font-size: 20px!important;font-weight: bold!important;">Status</span>
      <span style="cursor: pointer; float: right;" class="close" aria-label="close" (click)="hideNotification()">&times;</span>
    </p>
    <hr>
    {{msg}}
  </div>

  <div style="display: flex; justify-content: space-between;">
    <h2>Shop</h2>
    <button data-toggle="modal" data-target="#addShop" type="button" class="btn btn-success" (click)="onClickAdd()">Add</button>
  </div>
  <br>

  <div>
    <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit()">
      <div class="input-group">
        <input (keyup)="resetValidation()" type="text" name="search" formControlName="search" class="form-control"
          placeholder="Shop Name" [ngClass]="{ 'is-invalid': searchFormSubmitted && f1.search.errors }"
          aria-describedby="searchButton" />
        <button type="submit" class="btn btn-success" id="searchButton">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
      </div>
      <p *ngIf="searchFormSubmitted && f1.search.errors" style="font-size: 15px!important;" class="text-danger">This
        field is required.</p>
    </form>
  </div>
  <br>

  <div class="table-responsive">
    <table class="table-hover">
      <thead>
        <tr>
          <th width="15%">Shop Id</th>
          <th width="20%">Shop Name</th>
          <th width="5%" style="text-align: center;">Rating</th>
          <th width="15%">Owner Name</th>
          <th width="20%">Email</th>
          <th width="15%">Contact Number</th>
          <th width="10%" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="isRecordFound">
        <tr *ngFor="let item of result;">
          <td width="15%">{{item.shopId}}</td>
          <td width="20%">{{item.shopName}}</td>
          <td width="5%" style="text-align: center;">{{item.shopRating}}</td>
          <td width="15%">{{item.shopOwnerName}}</td>
          <td width="20%">{{item.shopOwnerEmail}}</td>
          <td width="15%">{{item.shopOwnerContactNumber}}</td>
          <td width="10%" style="text-align: center;">

            <svg data-toggle="modal" data-target="#updateShop" (click)="setShopAndUpdateShopForm(item)" style="margin-right: 1em; cursor: pointer;" xmlns="http://www.w3.org/2000/svg" 
              width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
            </svg>
            
            <svg data-toggle="modal" data-target="#deleteShop" *ngIf="!item.isDeleted" (click)="setShop(item)"
              style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>

            <svg data-toggle="modal" data-target="#restoreShop" *ngIf="item.isDeleted" (click)="setShop(item)"
              style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-recycle" viewBox="0 0 16 16">
              <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"/>
            </svg>

          </td>
        </tr>

      </tbody>
      <tbody *ngIf="!isRecordFound">
        <td colspan="7" width="100%" style="text-align: center;">{{msg}}</td>
      </tbody>
    </table>
  </div>

</div>