<div *ngIf="loaderVisibility" id="loader">
  <div style="margin-right: 2px;" class="spinner-grow text-success"></div>
  <div style="margin-right: 2px;" class="spinner-grow text-success"></div>
  <div class="spinner-grow text-success"></div>
</div>

<div class="container" id="main" [ngClass]="{'disable-background': loaderVisibility }">

  <div *ngIf="notificationAlert" class="alert fade show" role="alert" style="width: 30%;z-index: 9999;position: absolute;top: 2%;right:1%;color: white; background-color: #198754;font-size: 15px!important;font-weight: bold!important;">
    <p>
      <span style="font-size: 20px!important;font-weight: bold!important;">Status</span>
      <span style="cursor: pointer; float: right;" class="close" aria-label="close" (click)="hideNotification()">&times;</span>
    </p>
    <hr>
    {{msg}}
  </div>
  
  <div style="display: flex; justify-content: space-between;">
    <h2>Setting</h2>
    <button *ngIf="!isEditable" (click)="onClickEdit()" type="button" class="btn btn-success">Edit</button>
  </div>
  <br>
  <div style="border: 1px solid #198754; padding: 3%;">
    <form [formGroup]="settingForm" (ngSubmit)="onSettingFormSubmit()">

      <div class="form-group">
        <label for="emailFrom">Email From</label>
        <input type="text" class="form-control" formControlName="emailFrom" placeholder="Enter Email From" value={{this.result.emailFrom}}  [ngClass]="{ 'is-invalid': settingFormSubmitted && f.emailFrom.errors }">
      </div>
      <p *ngIf="settingFormSubmitted && f.emailFrom.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
      <br>
      <div class="form-group">
        <label for="emailBCC">Email BCC (Use comma "," seperated for multiple value)</label>
        <input type="text" class="form-control" formControlName="emailBCC" placeholder="Enter Email BCC" value={{this.result.emailBCC}} [ngClass]="{ 'is-invalid': settingFormSubmitted && f.emailBCC.errors }">
      </div>            
      <p *ngIf="settingFormSubmitted && f.emailBCC.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
      <br>
      <div class="form-group">
        <label for="contactUsPhone">Contact Us Contact Number</label>
        <input type="text" class="form-control" formControlName="contactUsPhone" placeholder="Enter Contact Us Contact Number" value={{this.result.contactUsPhone}} [ngClass]="{ 'is-invalid': settingFormSubmitted && f.contactUsPhone.errors }">
      </div>
      <p *ngIf="settingFormSubmitted && f.contactUsPhone.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
      <br>
      <div class="form-group">
        <label for="contactUsEmail">Contact Us Email</label>
        <input type="text" class="form-control" formControlName="contactUsEmail" placeholder="Enter Contact Us Email" value={{this.result.contactUsEmail}} [ngClass]="{ 'is-invalid': settingFormSubmitted && f.contactUsEmail.errors }">
      </div>
      <p *ngIf="settingFormSubmitted && f.contactUsEmail.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
      <br>
      <div class="form-group">
        <label for="instaLink">Insta Link</label>
        <input type="text" class="form-control" formControlName="instaLink" placeholder="Enter Insta Link" value={{this.result.instaLink}} [ngClass]="{ 'is-invalid': settingFormSubmitted && f.instaLink.errors }">
      </div>
      <p *ngIf="settingFormSubmitted && f.instaLink.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
      <br>
      <div class="form-group">
        <label for="facebookLink">Facebook Link</label>
        <input type="text" class="form-control" formControlName="facebookLink" placeholder="Enter Facebook Link" value={{this.result.facebookLink}} [ngClass]="{ 'is-invalid': settingFormSubmitted && f.facebookLink.errors }">
      </div>
      <p *ngIf="settingFormSubmitted && f.facebookLink.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
      <br>
      <div class="form-group">
        <label for="aboutUs">About Us</label>
        <textarea rows="4" cols="50" type="text" class="form-control" formControlName="aboutUs" placeholder="Enter About Us" value={{this.result.aboutUs}} [ngClass]="{ 'is-invalid': settingFormSubmitted && f.aboutUs.errors }"></textarea>
      </div>            
      <p *ngIf="settingFormSubmitted && f.aboutUs.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
      <br>
      <div *ngIf="isEditable" style="display: flex;justify-content: right;">            
        <button (click)="onClickClose()" style="margin-right: 1%;" type="button" class="btn btn-secondary" #closebutton>Close</button>
        <button type="submit" class="btn btn-success">Update</button>
      </div>
    </form>
  </div>

</div>