.container{
    margin-top: 1%;
    margin-bottom: 1%;
}

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    margin: -76px 0 0 -76px;
}

.disable-background {
    opacity: 0.5;
    pointer-events: none;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
}
th { 
    background: #198754; 
    color: white; 
    font-weight: bold;
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}