<div *ngIf="loaderVisibility" id="loader">
  <div style="margin-right: 2px;" class="spinner-grow text-success"></div>
  <div style="margin-right: 2px;" class="spinner-grow text-success"></div>
  <div class="spinner-grow text-success"></div>
</div>

<div class="container" id="main" [ngClass]="{'disable-background': loaderVisibility }">

  <div class="modal fade" tabindex="-1" role="dialog" id="refundModal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Refund</h5>
          <span style="cursor: pointer; float: right; font-weight: bold;" class="close" data-dismiss="modal"
        aria-label="close">&times;</span>
        </div>
        <form [formGroup]="refundForm" (ngSubmit)="onRefundFormSubmit()">  
          <div class="modal-body">                      
            
            <div class="form-group">
              <label for="refundAmount">Amount</label>
              <input type="text" class="form-control" formControlName="refundAmount" placeholder="Enter Amount" [ngClass]="{ 'is-invalid': refundFormSubmitted && f.refundAmount.errors }">
            </div>            
            <p *ngIf="refundFormSubmitted && f.refundAmount.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
          
          </div>
          <div class="modal-footer">          
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton1>Close</button>
            <button type="submit" class="btn btn-success">Refund</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" tabindex="-1" role="dialog" id="emailModal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Send Email</h5>
          <span style="cursor: pointer; float: right; font-weight: bold;" class="close" data-dismiss="modal"
        aria-label="close">&times;</span>
        </div>
        <form [formGroup]="emailForm" (ngSubmit)="onEmailFormSubmit()">
          <div class="modal-body">
            
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" formControlName="subject" placeholder="Enter Subject" [ngClass]="{ 'is-invalid': emailFormSubmitted && f1.subject.errors }">
            </div>            
            <p *ngIf="emailFormSubmitted && f1.subject.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
            <br>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea rows="4" cols="50" type="text" class="form-control" formControlName="message" placeholder="Enter Message" [ngClass]="{ 'is-invalid': emailFormSubmitted && f1.message.errors }"></textarea>
            </div>            
            <p *ngIf="emailFormSubmitted && f1.message.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>

          </div>
          <div class="modal-footer">            
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton2>Close</button>
            <button type="submit" class="btn btn-success">Send Email</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="notificationAlert" class="alert fade show" role="alert" style="width: 30%;z-index: 9999;position: absolute;top: 2%;right:1%;color: white; background-color: #198754;font-size: 15px!important;font-weight: bold!important;">
    <p>
      <span style="font-size: 20px!important;font-weight: bold!important;">Status</span>
      <span style="cursor: pointer; float: right;" class="close" aria-label="close" (click)="hideNotification()">&times;</span>
    </p>
    <hr>
    {{msg}}
  </div>

  <div>
    <h2>{{headerText}}</h2>
  </div>

  <div>
    <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit()">
      <div class="input-group">        
        <input (keyup)="resetValidation()" type="text" name="search" formControlName="search" class="form-control" placeholder="User Id or Username" [ngClass]="{ 'is-invalid': searchFormSubmitted && f2.search.errors }" aria-describedby="searchButton" />        
        <button type="submit" class="btn btn-success" id="searchButton">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
      <p *ngIf="searchFormSubmitted && f2.search.errors" style="font-size: 15px!important;" class="text-danger">This field is required.</p>
    </form>
  </div>
  <br>

  <div style="overflow-x:auto;">
    <table>
      <thead>
        <tr>
          <th width="20%">User Id</th>
          <th width="20%">Name</th>
          <th width="35%">Email</th>
          <th width="15%">Wallet Amount</th>
          <th *ngIf="!isUserModule" width="10%" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="isRecordFound">
        <tr *ngFor="let item of result;">
          <td width="20%">{{item.userId}}</td>
          <td width="20%">{{item.fullname}}</td>
          <td width="35%">{{item.email}}</td>
          <td width="15%">{{item.wallet}}</td>
          <td *ngIf="!isUserModule" width="10%" style="text-align: center;">
            <svg  data-toggle="modal" data-target="#emailModal" (click)="setUser(item)" *ngIf="isEmailModule" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-check" viewBox="0 0 16 16">
              <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
              <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
            </svg>
            <svg  data-toggle="modal" data-target="#refundModal" (click)="setUser(item)" *ngIf="isRefundModule" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
              <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
            </svg>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!isRecordFound">
        <td colspan="5" width="100%" style="text-align: center;">{{msg}}</td>
      </tbody>
    </table>
  </div>

</div>