<div *ngIf="loaderVisibility" id="loader">
  <div style="margin-right: 2px;" class="spinner-grow text-success"></div>
  <div style="margin-right: 2px;" class="spinner-grow text-success"></div>
  <div class="spinner-grow text-success"></div>
</div>

<div class="container" id="main" [ngClass]="{'disable-background': loaderVisibility}">

  <div class="modal fade" tabindex="-1" role="dialog" id="deleteBanner" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Banner</h5>
          <span style="cursor: pointer; float: right; font-weight: bold;" class="close" data-dismiss="modal"
        aria-label="close">&times;</span>
        </div>
        <div class="modal-body">
          <p>Are you sure you wanted to delete this banner ?</p>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton1>Close</button>
          <button type="button" class="btn btn-success" (click)="performCRUD('Delete')">Delete</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" tabindex="-1" role="dialog" id="restoreBanner" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Restore Banner</h5>
          <span style="cursor: pointer; float: right; font-weight: bold;" class="close" data-dismiss="modal"
        aria-label="close">&times;</span>
        </div>
        <div class="modal-body">
          <p>Are you sure you wanted to restore this banner ?</p>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton2>Close</button>
          <button type="button" class="btn btn-success" (click)="performCRUD('Restore')">Restore</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" tabindex="-1" role="dialog" id="addBanner" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Banner</h5>
          <span style="cursor: pointer; float: right; font-weight: bold;" class="close" data-dismiss="modal"
        aria-label="close">&times;</span>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input #fileInputAdd type="file" id="file" (change)="upload($event.target.files)">
            <p style="font-size: 15px!important;" *ngIf="!isValid" class="text-danger">This field is required.</p>
          </div>
        </div>
        <div class="modal-footer">          
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton3>Close</button>
          <button type="button" class="btn btn-success" (click)="performCRUD('Add')">Add</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" tabindex="-1" role="dialog" id="updateBanner" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Banner</h5>
          <span style="cursor: pointer; float: right; font-weight: bold;" class="close" data-dismiss="modal"
        aria-label="close">&times;</span>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input #fileInputUpdate type="file" id="file" (change)="upload($event.target.files)">
            <p style="font-size: 15px!important;" *ngIf="!isValid" class="text-danger">This field is required.</p>
          </div>
        </div>
        <div class="modal-footer">          
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closebutton4>Close</button>
          <button type="button" class="btn btn-success" (click)="performCRUD('Update')">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="notificationAlert" [ngClass]="{'hide-notification-alert': notificationAlert}" class="alert fade show" role="alert" style="width: 30%;z-index: 9999;position: absolute;top: 2%;right:1%;color: white; background-color: #198754;font-size: 15px!important;font-weight: bold!important;">
    <p>
      <span style="font-size: 20px!important;font-weight: bold!important;">Status</span>
      <span style="cursor: pointer; float: right;" class="close" aria-label="close" (click)="hideNotification()">&times;</span>
    </p>
    <hr>
    {{msg}}
  </div>

  <div style="display: flex; justify-content: space-between;">
    <div>
      <h2>Banner</h2>
    </div>
    <div>
      <button class="btn btn-success" data-toggle="modal" data-target="#addBanner" (click)="resetFileSelection()">Add</button>
    </div>
  </div>

  <div style="overflow-x:auto;">
    <table>
      <thead>
        <tr>
          <th width="20%">Banner Id</th>
          <th width="70%">Banner Logo</th>
          <th width="10%" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="isRecordFound">
        <tr *ngFor="let item of result;">
          <td width="20%">{{item.bannerId}}</td>
          <td width="70%">{{item.bannerLogo}}</td>
          <td width="10%" style="text-align: center;">
            <svg (click)="setBanner(item)" (click)="resetFileSelection()" style="margin-right: 1em; cursor: pointer;" data-toggle="modal" data-target="#updateBanner" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
            </svg>
            <svg *ngIf="!item.isDeleted" (click)="setBanner(item)" style="cursor: pointer;" data-toggle="modal" data-target="#deleteBanner" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
            <svg *ngIf="item.isDeleted" (click)="setBanner(item)" style="cursor: pointer;" data-toggle="modal" data-target="#restoreBanner" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-recycle" viewBox="0 0 16 16">
              <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"/>
            </svg>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!isRecordFound">
        <td colspan="3" width="100%" style="text-align: center;">{{msg}}</td>
      </tbody>
    </table>
  </div>
</div>